/* Navigation bar */
.navbar {
  display: flex;
  justify-content: center;
  background-color:#ccc;
  padding: 15px;
  gap: 30px;  /* space between Register & Login */
  border-bottom: 2px solid #ccc;
}

/* Links inside nav */
.nav-link {
  color: blue;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

/* Hover effect */
.nav-link:hover {
  color: darkblue;
  text-decoration: underline;
}
